:root { 
    --background-light: #ededed;
    
    --font-body-size: 18px;
    --font-body-family: 'Lato', 'Source Sans Pro', 'Karla', sans-serif;
    --font-body-header: 'Raleway', 'Montserrat', sans-serif;
    --font-ui: 'Raleway', sans-serif;
    --nav-color: white;
    --nav-size: 26px;

    --accent-1: #2E6D46; /* Topbar background */
    --accent-2: #EEEEEE; /* main text/ light color, contrast with 1 */
    --accent-3: #7FBEEB; /* hover 2*/
    --accent-4: #7FBEEB; /* Highlight/focus */
    --accent-5: #7FBEEB; /* hover 4*/

    
    --glass-background: rgba(231, 241, 255, 0);
    --glass-accent-1: rgba(246, 247, 249, .3);
    --glass-accent-2: rgba(229, 235, 238, .2);
    --glass-accent-3: rgba(215, 222, 227, .24);
    --glass-accent-4: rgba(245, 247, 249, .1);

    --font-hyperlink: var(--accent-5);
    --font-hyperlink-hover: var(--accent-4);
    --font-body-color: var(--accent-2);
}