/* styles for explore app*/

.crosshair{
  stroke: var(--font-body-color);
  stroke-width: 1px;
  stroke-dasharray: 5;
}


.diagram{
  background-color: rgba(224, 224, 224, .45);
  border: 5px solid rgba(86, 61, 124, .2);
  filter: blur(0px);
}



header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 1050px;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  transition: all 0.6s ease-out;
}


.caption{
  background-color: rgba(224, 224, 224, 0);
  border: 1px solid rgba(86, 61, 124, 0);
  font: 12px sans-serif; 
  font-family: "Raleway";
  color: #EDEDED;
}



.highlightedArea{
  fill: white;
  stroke: black;
}


.floatingToolTip{
  color: var(--accent-6);
  position: absolute;
  max-width: 200px;
  z-index: 99;
  background: rgba(255, 255, 255, 0.7); 
  pointer-events: none;
  padding: 2px;
  transition: all 200ms ease-out;
}

.LVelocityLegend {
  color: #FFFFFF;
  font-family: "Helvetica";
  font-size: 1.25em;
  font-weight: lighter;
}


