 :root { 
    --background-light: #ededed;
    
    --font-body-size: 18px;
    --font-body-family: 'Source Sans Pro', 'Karla', sans-serif;
    --font-body-header: 'Raleway', 'Montserrat', sans-serif;
    --font-ui: 'Raleway', sans-serif;
    --nav-color: white;
    --nav-size: 26px;
  
    --accent-1: #C2C2BB; /* Topbar background */
    --accent-2: #696260; /* main text/ light color, contrast with 1 */
    --accent-3: #3C787E; /* hover 2*/
    --accent-4: #114b5f; /* Highlight/focus */
    --accent-5: #0AA4B8; /* accent colors*/

    --glass-background: rgba(0, 0, 0, 0);
    --glass-accent-1: rgba(246, 247, 249, 0.5);
    --glass-accent-2: rgba(229, 235, 238, 0.6);
    --glass-accent-3: rgba(215, 222, 227, 0.4);
    --glass-accent-4: rgba(245, 247, 249, 0.4);

    --font-hyperlink: var(--accent-5);
    --font-hyperlink-hover: var(--accent-4);
    --font-body-color: var(--accent-2);
    

    
}