.kmtooltip {
  font-family: Raleway, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px;
  transition: opacity 1s ease-out;
  border: 0px solid rgba(255, 255, 255, 1);
}

.map-tooltip{
	font-family: Montserrat;
	font-size: 14px;
	border: 0px solid orange;
	width: 200px; 	
	height: 100px;
	border-radius: 1px;
	color: #2B2B2B;
	background-color: white;
	white-space: normal;
}

.map-tooltip-special{
	font-family: Montserrat;
	font-size: 14px;
	border: 0px solid orange;
	width: 200px; 	
	height: 100px;
	color: #2B2B2B;
	border-radius: 1px;
	background-color: #B1D8AB;
	white-space: normal;
}

/* ui buttons on the map */

#MapTopbar{
	pointer-events: initial;
	position: absolute;	
	pointer-events: none;
	top: 0px;
	height: 50%;
	padding-left: 60px;
	padding-top: 10px;
	padding-right: 5px;
	z-index: 1;
	width: calc(100% - 65px);
	overflow: hidden;
}

#AppTitle{
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 3;
	font-size: 24px;
	font-family: Oswald;
	transition: all 0.2s ease;
}

@media (max-width: 975px) {
	#AppTitle{transform: scale(0.5) translate(150px, 0px)}
}

@media (max-width: 850px) {
	#AppTitle{transform: scale(0) translate(150px, -10px)}
}

#MapTopBarBackground{
	position: absolute;
	background-color: var(--accent-1);
	border-bottom: 1px solid var(--accent-3);
	width: 100%;
	height: 60px;
	z-index: 0;
	left: 0;
	top: 0;
}

#Scenarioselector{
	--left: 355px;
	pointer-events: initial;
	max-width: 300px;
	z-index: 1;
	overflow: hidden;
	transform: translate(var(--left), 0);
	transition: transform 0.5s ease;
}

#MapButtons{
	position: absolute;
	top: 55px;
	left: 5px;
	width: 50px;
	height:50px;
	z-index: 0;
	transform: translate(380px, 0);
	transition: transform 0.5s ease;
}


.map-ui-button {
  position: relative;
  cursor: pointer;
  pointer-events: initial;
  margin: 10px;
  width: 100%;
  left: 15px;
  color: var(--accent-2);
  font-size: 24px;
  transition: color .3s ease;
}

.map-ui-button:hover {
	color: var(--accent-1);
}

.map-ui-button::after {
	font-size: 14px;
	color: var(--accent-2);
	opacity: 0;
	content: "zoom to intervention";
	transition: opacity .3s ease;
}

.map-ui-button:hover::after {
	opacity: 1;
}