.kmtooltip {
  font-family: Raleway, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px;
  transition: opacity 1s ease-out;
  border: 0px solid rgba(255, 255, 255, 1);
}

.map-tooltip{
	font-family: Montserrat;
	font-size: 14px;
	border: 0px solid orange;
	width: 200px; 	
	height: 100px;
	border-radius: 1px;
	color: #2B2B2B;
	background-color: white;
	white-space: normal;
}

.map-tooltip-special{
	font-family: Montserrat;
	font-size: 14px;
	border: 0px solid orange;
	width: 200px; 	
	height: 100px;
	color: #2B2B2B;
	border-radius: 1px;
	background-color: #B1D8AB;
	white-space: normal;
}

/* ui buttons on the map */

#MapTopbar{
	pointer-events: initial;
	position: absolute;	
	pointer-events: none;
	top: 0px;
	height: 50%;
	padding-left: 60px;
	padding-top: 10px;
	padding-right: 5px;
	z-index: 1;
	width: calc(100% - 65px);
	overflow: hidden;
	
}

#MapTopFlexUI{
	--left: 350px; /* this variable makes sure selector moves with side menu and is visible on first load. Is modified by JS*/
	display: flex;
	transform: translate(var(--left), 0);
	transition: transform 0.5s ease;
}

#AppTitle{
	position: absolute;
	right: 35px;
	top: 10px;
	z-index: 3;
	font-size: 24px;
	font-family: Oswald;
	transition: all 0.2s ease;
}
#AppTitle:after{
	content: "preview";
	top:-10px;
	font-size: 13px
}

#AppTitle:before{
	position: relative;
	content: "Welcome to the RiverCare Final Symposium!";
	top:15px;
	left:250px;
	font-size: 13px;
	font-family: Karla;
	color: var(--accent-5);
	

	
}

@media (max-width: 1050px) {
	#AppTitle{transform: scale(0.75) translate(75px, 0px)}
}

@media (max-width: 950px) {
	#AppTitle{transform: scale(0) translate(150px, -10px)}
}

#MapTopBarBackground{
	position: absolute;
	background-color: var(--accent-1);
	width: 100%;
	height: 60px;
	z-index: 0;
	left: 0;
	top: 0;
}

#Scenarioselector{
	pointer-events: initial;
	z-index: 1;
	overflow: hidden;
}

#Scenarioselector::after {
	content: "Choose an intervention";
	font-size: 16px;
	color: var(--accent-2);
	font-family: Oswald;
	opacity: 0;
	transition: opacity .3s ease;
	width: 200px;
	position: absolute;
	top: 50px;
	left: 0px;
}

#Scenarioselector:hover::after {
	opacity: 1;
}

#MapButtons{
	position: relative;
	width: 100px;
	z-index: 0;
	transition: all 0.5s ease;
	display: flex;
	max-height: 50px
}

@media (max-width: 400px) {
	#MapButtons{
		background-color: var(--accent-1);
		top: 80px;
		display: inline;
		position: absolute;
		left: -65px;
		padding-left: 20px;
		width: 50px;
		max-height: 200px;
	}

	#MapButtons div:after{
		top:0px;
		left: 50px;
	}

	#MapButtons > .map-ui-button{
		font-size: 24px;
		width: 30px;
	}


}

#MapZoom:after {
	content: "Zoom to study area";
	position: absolute;
	font-size: 16px;
	color: var(--accent-2);
	font-family: Oswald;
	opacity: 0;
	transition: opacity .3s ease;
	width: 200px;
	left: 0px;
	top: 40px;
	pointer-events: none;
}

#MapZoom:hover::after {
	opacity: 1;
}

#MapTheme:after {
	content: "Toggle dark/light theme";
	position: absolute;
	font-size: 16px;
	color: var(--accent-2);
	font-family: Oswald;
	opacity: 0;
	transition: opacity .3s ease;
	width: 200px;
	left: 0px;
	top: 40px;
	pointer-events: none;
}

#MapTheme:hover::after {
	opacity: 1;
}

#MapLang{
	color: var(--accent-2);
}

#MapLang:after {
	content: "Toggle English/Nederlands";
	position: absolute;
	font-size: 16px;
	color: var(--accent-2);
	font-family: Oswald;
	opacity: 0;
	transition: opacity .3s ease;
	width: 200px;
	left: 0px;
	top: 40px;
	pointer-events: none;
}

#MapLang:hover::after {
	opacity: 1;
}

.map-ui-button {
  position: relative;
  cursor: pointer;
  pointer-events: initial;
  margin-top: 7px;
  margin-left: 5px;
  width: 40px;
  left: 0px;
  color: var(--accent-2);
  font-size: 24px;
  transition: color .3s ease;
  border-bottom: 2px solid var(--accent-5);

}

.map-ui-button:hover {
	color: var(--accent-5);
}

