 body {
  font-family: 'Helvetica Neue',Helvetica,sans-serif;
  margin: 0;
  background-color: #EEEEEE;
  overflow: hidden;
}
 
.griditem{
  border-radius: 4px;
}

.blur{
  -moz-filter:blur(10px);
  -o-filter:blur(10px);
  -webkit-filter:blur(10px);
  filter: blur(10px); 
}

.glass{
  background-color: rgba(231, 241, 255, 0.2);
  /*background-image: linear-gradient(to top right, 
    rgba(255, 255, 255, 0.0) 8%, 
    rgba(138, 140, 150, 0.4) 40%, 
    rgba(255, 255, 255, 0.15) 100%);
*/
  background-image: linear-gradient(to top right, 
    rgba(246, 247, 249, .2)  0%,
    rgba(229, 235, 238, .2) 50%,
    rgba(215, 222, 227, .2) 52%,
    rgba(245, 247, 249, .2) 100%
    );
  filter: blur(0px);
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.footer {
  border-radius: inherit;
  width:100%;
  height: 100%;
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 0.8em;
}

/* 
 Desktops
*/

@media (min-width: 1200px) {
.container {
  width: 100%;
  height: 80%;
  display: grid;
  grid-gap: 10px;
  grid-template:
    '. . . . . .'
    'storybox storybox storybox figurebox figurebox figurebox'
    'storybox storybox storybox figurebox figurebox figurebox'
    'storybox storybox storybox figurebox figurebox figurebox'
    '. . . . . .';
}
}

/* 
 Tablets
*/

@media (max-width: 1200px) {
.container {
  width: 100%;
  height: 80%;  
  display: grid;
  grid-gap: 5px;
  grid-template:
    '. . . .'
    'storybox storybox storybox .'
    'storybox storybox storybox .'
    'storybox storybox storybox .'
    'figurebox figurebox figurebox .'
    'figurebox figurebox figurebox .'
    'figurebox figurebox figurebox .'

    '. . . .';
}
}
/* 
 Phones
*/
@media (max-width: 600px) {
.container {
  width: 100%;
  height: 80%;
  display: grid;
  grid-gap: 0px;
  grid-template:
    '. . '
    '. . '
    '. . '
    'storybox storybox '
    'storybox storybox '
    'storybox storybox ';
}
}

.canvas{
  width: 100%;
  height: 100%;
  pointer-events: initial;
  position:absolute; 
  width:100%;
  height:90%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.diagram{
  background-color: rgba(224, 224, 224, .45);
  border: 5px solid rgba(86, 61, 124, .2);
  filter: blur(0px);
}

.storybox {
  grid-area: storybox;
}

.figurebox {
  grid-area: figurebox;
  opacity: 1;
  pointer-events: none;
  position: absolute;
}

.figurebox .map{
  pointer-events: none;
}

.storystep{
  margin-bottom: 50px;
}

#storycontainer{
  position: relative;
  z-index: 100;
  padding: 5% 0% 0% 5%;
  width: 90%;
  height: 80%;
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 0.9em; 
  overflow: hidden;
}

.textbox {
  border-radius: inherit;
  border-style: dashed;
  border-width: 1px 1px 1px 1px;
  padding-left: 5%;
  padding-top: 5%;
  width: 90%;
  height: 200px;
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 0.9em;  
  overflow: hidden;
}



.storystep em{
  color: #2CB4F2;
  font-style: normal;
}

.storystep a:hover{
  cursor: pointer;
}

.uicontainer{
  width:100%;
  height:100%;
}

.uicontainer .uielements{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  position: absolute;
  bottom: 0px;
}
.uielements span {
  display: block;
  width: 30px;
  height: 5px;
  background: #cdcdcd;
  margin-bottom: 10px;
  border-radius: 2px;
  position: relative;
  z-index: 1;
}

.uielements span:hover {
  background: #DE1212;
  transition: background 0.5s cubic-bezier(0.77,0.2,0.05,0.5);
}

header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 1050px;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  transition: all 0.6s ease-out;
}


.caption{
  background-color: rgba(224, 224, 224, 0);
  border: 1px solid rgba(86, 61, 124, 0);
  font: 12px sans-serif; 
  font-family: "Raleway";
  color: #EDEDED;
}



.highlightedArea{
  fill: white;
  stroke: black;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    max-width: 150px;          
    padding: 2px;       
    font: 14px sans-serif; 
    font-family: "Raleway";
    background: rgba(255, 255, 255, 0.7); 
    border: 1px;    
    border-radius: 1px;     
    pointer-events: none; 
}

footer {
   position:absolute;
   bottom: 0px;
   width:100%;
   height:50x;   /* Height of the footer */
   overflow: hidden;
   pointer-events: none;
   /*border-radius: 2px;
   left: 50%;
   transform: translate(-50%, -50%);*/
   /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;*/
}

.LVelocityLegend {
  color: #FFFFFF;
  font-family: "Helvetica";
  font-size: 1.25em;
  font-weight: lighter;
}


