
.container {
  max-width: 890px;
  scroll-snap-type: mandatory;
  /* older spec implementation */
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%);
}



.axis { 
  font: 12px sans-serif; 
  font-family: "Raleway"
}

.labels {
  font: 16px sans-serif; 
  font-family: "Raleway"};

#graphic {
  padding-top: 60px;
}

.area{
  stroke: none;

}
.highlightedArea{
  fill: white;
  stroke: black;

}
div.tooltip { 
    position: absolute;     
    text-align: center;     
    max-width: 150px;          
    padding: 2px;       
    font: 14px sans-serif; 
    font-family: "Raleway";
    background: rgba(255, 255, 255, 0.7); 
    border: 1px;    
    border-radius: 1px;     
    pointer-events: none; 
}

#sections {
  border: 1px solid #F01B1B;
  position: relative;
  display: inline-block;
  max-width: 420px;
  top: 100px;
  z-index: 90;
  padding-bottom: 200px;
}

.step {
  border: 1px solid #AAAAAA;
  margin-bottom: 200px;
  font-family: "Raleway","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
  scroll-snap-align: start;
}

#sections .title {
  font-family: Georgia,Helvetica,"serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  border: 1px solid #0048EA;
  display: inline-block;
  position: sticky;
  margin-top: 150px;
  z-index: 1;
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

#vis .title {
  font-size:80px;
  text-anchor: middle;
  font-family: "Raleway";
}

#vis .sub-title {
  font-size:40px;
  text-anchor: middle;
  font-family: "Raleway";
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

