 :root {
    --background-light: #ededed;
    --accent-light: #125D9B;
}
 /* Dropdown Button */
.dropbtn {
    background-color: rgba(20, 20, 20, 0.7);
    font-family: "Oswald";
    color: #E8E8E8;
    position: relative;
    margin-left: 5px;
    padding: 5px;
    width: 350px;
    text-align: left;
    font-size: 26px;
    font-weight: regular;
    border: none;
    cursor: pointer;
    pointer-events: initial;
}
.dropbtn::after{
  content: ">";
  position: absolute;
  right:15px;
  font-size: 26px;
  text-align: right;
}

/* Dropdown button on hover & focus */
.dropbtn:hover:after{
  content: "v";
  position: absolute;
  right:15px;
  font-size: 26px;
  text-align: right;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    pointer-events: initial;
}

.label_high {
  color: #09C900;
}

.label_medium {
  color: #FF8416;
}

.label_low {
  color: #F31419;
}

#InterventionInfo {
  position: relative;
  top:50px;
  left: 20px;
  width: 350px;
  overflow: hidden;
}
#InterventionUncertainty, #InterventionEffect {
  pointer-events: initial;
  font-family: "Montserrat";
  padding-left: 10px;
  margin-top: 2px;
  overflow: hidden;
  color: #F4F4F4;
  font-size: 14px;
  position:relative;
  top:200px;
}

#InterventionDescription {
  pointer-events: initial;
  font-family: "Montserrat";
  padding: 10px;
  margin-top: 200px;
  position:relative;
  top:0px;
  overflow: auto;
  color: #FFFFFF;
  font-size: 14px;
  height:250px;
  background: linear-gradient(#FFFFFF 50%, rgba(0, 0, 0, 0) 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    left: 5px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

/* MENU BUTTONS */
/*
 * Based on work by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.1s ease;
}

a:hover
{
  color: #125D9B;
 
}

#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  left: 25px;
  z-index: 1;
  pointer-events: initial;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 0px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,0.5),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
              opacity 0.55s ease;
}


#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 0%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: translate(-10px, 11px) rotate(-45deg) scale(0.5, 1.4) ;
  background: var(--accent-light);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 1;
  transform: rotate(0deg) scale(1.0, 1.1) translate(-8px, 0px);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{  
  opacity: 1;
  transform:  translate(-6px, -10px) rotate(45deg) scale(0.5, 1.4) 
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{ 
  overflow: auto;
  position: absolute;
  width: 300px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: var(--background-light);
  
  box-shadow: 2px 10px 10px 5px #000000;
  list-style-type: square;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-92%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu div
{
  font-family: Raleway;
  padding: 10px 0;
  font-size: 14px;
}

#menu li
{
  font-family: Raleway;
  padding: 10px 0;
  font-size: 22px;
}

#menu a {
  text-decoration: none;
  color: #232323;
  transition: color 0.1s ease;
  border-bottom:2px dotted #232323;
  display: inline-block;
  position: relative;
}
#menu a:hover
{
  color: #125D9B;
  border-bottom:2px dotted #125D9B;
 
}


/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* Slider */
#slidercontainer{
  width: 95%;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: rgba(0, 0, 0, 0); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(accent-light); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(accent-light); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.myDivIcon {
  text-align: center; /* Horizontally center the text (icon) */
  line-height: 20px; /* Vertically center the text (icon) */
}