 /* All UI elements */

/* ===========================================
 * Globals
 * ===========================================
 */
 :root { 
    --background-light: #ededed;
    --accent-light: #76BFFB;
    --font-hyperlink: #92C7F3;
    --font-hyperlink-hover: #58A8E9;
    --font-body-color: #D9D9D9;
    --font-body-size: 18px;
    --font-body-family: 'Source Sans Pro', Karla, sans-serif;
    --font-ui: 'Raleway', sans-serif;
    --nav-color: white;
    --nav-size: 26px;
    --accent-1: #FF9F1C;
    --accent-2: #D5573B;
    --accent-3: #3C787E;
    --accent-4: #313B72;
    --accent-5: #3F3047;
    --accent-6: #191A21;
}
 
body {
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  color: var(--font-body-color);
  margin: 0;
  background-color: #EEEEEE;
  overflow: hidden;
}

.label_high {
  color: #09C900;
}

.label_medium {
  color: #FF8416;
}

.label_low {
  color: #F31419;
}


.panel {
  position: absolute;
  top:75px;
  height: calc(100% - 80px);
  left: 20px;
  width: 90%;
  overflow: hidden;
  transition: transform 0.5s cubic-bezier(0.27,0.2,0.05,1.0);
}

.canvas {
  position:relative; 
  top: 0px;
  pointer-events: initial;
  width:99%;
  height:200px;
}


.scroll {
  position: relative;
  top: 0px;
  height: calc(100% - 200px);
  overflow: hidden;
}


.map { 
  z-index:-1;
  position:absolute;
  width:100%;
  height:100%; 
  pointer-events: visible; 
}

/* ===========================================
 * Layout
 * ===========================================
 */

@media (min-width: 600px) {
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template:
    'fig2 fig2 . . . .';
}}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media (max-width: 600px) {
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template:
    'fig2 fig2 ';
}
}

/* ===========================================
 * Body, foooter
 * ===========================================
 */
.logo-footer {
  float: right;
  width: 100%; 
  margin-right: 55px;
}

footer {
   position:absolute;
   right:0px;
   bottom:-20px;
   margin: auto;
   max-width:200px;
   height:60px;   /* Height of the footer */
   overflow: all;
   border-radius: 2px;
   clear:right;
}



#version-number-box {
  position: absolute;
  color: var(--font-body-color);
  right: 1%;
  bottom: 2px;
  font-family: Oswald;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}

#version-number-box img{
  width: 50px;
  margin: 0px 10px 0px 10px;
}

#version-number-box span{
  margin-left: 5px;
}


/* ===========================================
 * Flat dropdown menu (adapted from http://cssmenumaker.com/menu/flat-accordion-menu)
 * ===========================================
 */

.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  top: -7px;
  display: block;
  position: relative;
}

.cssmenu {
  width: 80%;
  left: 45px;
  font-family: var(--font-body-family);
  color: var(--font-body-color);
}

/* Top level */
.cssmenu > ul > li > a {
  padding: 6px 20px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background: var(--accent-6);
  -webkit-transition: color .2s ease;
       -o-transition: color .2s ease;
          transition: color .2s ease;
}
.cssmenu > ul > li > a:hover {
  color: var(--accent-5);
}
.cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 10px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
     -moz-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out;
       -o-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
}
.cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 14px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
     -moz-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out;
       -o-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
}
.cssmenu ul > li.has-sub.open > a:after,
.cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cssmenu ul ul li a {
  padding: 7px;
  top: 7px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: #dddddd;
  background: #49505a;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.cssmenu ul ul ul li a {
  padding-left: 32px;
}
.cssmenu ul ul li a:hover {
  color: var(--accent-1);
}
.cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #dddddd;
}
.cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background: #dddddd;
}

.zoombutton {
  cursor: pointer;
  position: relative;
  border-right: 1px solid orange;
  top: 0px;
  padding: 5px;
  left: 14px;
  width: 20px;
  height: 18px;
  background-color: var(--accent-6);
}
/* ===========================================
 * App panel master
 * ===========================================
 */

#leftbar {
  transform: translate(0%, 0%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border-radius: 0px;
  box-shadow: 0px 0px 15px 5px #000000;
  pointer-events: initial;
  position:absolute; 
  width: 100%;
  max-width:400px;
  height:100%;
  z-index: 1;
}


.blur{
   -moz-filter: blur(6px);
     -o-filter: blur(6px);
-webkit-filter: blur(6px);
        filter: blur(6px); 
}

.glass{
  width:100%;
  height: 100%;
  background-color: rgba(231, 241, 255, 0);
  background-image: linear-gradient(to top right, 
                    rgba(246, 247, 249, .3)  0%,
                    rgba(229, 235, 238, .2) 50%,
                    rgba(215, 222, 227, .24) 52%,
                    rgba(245, 247, 249, .1) 100%
                    );
  border-radius: inherit;  
}


/* ===========================================
 * App navigation
 * ===========================================
 */

nav {
  z-index: 2
}

#appnavigation {
  font-family: var(--font-ui);
  color: var(--nav-color);
  font-size: var(--nav-size);
  position: absolute;
  padding-bottom: 15px;
  top: 13px;
  height: 45px;
  width: 80%;
  max-width: 300px;
  left: 60px;
  z-index: 3;
  cursor: pointer;
  pointer-events: initial;
  transition: 500ms ease-out;
  
}

@media (max-width: 400px){#appnavigation {left: 50px}}
@media (max-width: 340px){#appnavigation {left: 40px}}


#appnavigation span {
  position: relative;
  margin-left: 25px;
  border-bottom:2px solid #49F5FF22;
  transition: 200ms ease-out;
}

@media (max-width: 340px){#appnavigation span {margin-left: 17px}}

#appnavigation span:hover {
  border-bottom:3px solid #49F5FFFF;
}

#appnavigation span.app-active {
  border-bottom:3px solid #49F5FFFF;
}

#appnavigation span.app-active::after{
  opacity: 1;
  color: #49F5FFFF;
}

#appnavigation span:hover::after{
  opacity: 1;
  color: #FFFFFFFF;
}

#appnavigation span::after{
  position: absolute;
  width: 80px;
  margin-left: -55px; /* -1/2width - iconwidth/2 */
  top: 40px;
  color: white;
  font-size: 12px;
  text-align: center;
  opacity: 0.3;
  transition: 250ms ease-out;
}

#app-info::after{
  content: "About";
  left: 18px;
}

#app-story::after{
  content: "Storyline";
}

#app-explore::after{
  content: "Explore";
}

#app-compare::after{
  content: "Flow sim";
}

#app-article::after{
  content: "Learn";
}

#app-settings::after{
  content: "Settings";
}

/* ===========================================
 * Settings
 * ===========================================
 */
#SettingsPanel p{
  font-size: 16px;
}
#SettingsPanel span{
  cursor: pointer;
  margin-left: 20px;
  line-height: 1.5em;
  white-space:nowrap;
}

#SettingsPanel span.notimplemented{
  color: #7A7A7A;
}
/* ===========================================
 * About
 * ===========================================
 */

#AboutPanel{
  transform: translate(0%, 0%);
  font-size: inherit;
}


#AboutContent hr
{ 
  border: 0;
  border-bottom: 1px dashed #ccc;
}

#AboutContent li
{
  padding: 10px 0;
}

#AboutContent a {
  text-decoration: none;
  color: var(--font-hyperlink);
  transition: color 0.1s ease;
  border-bottom:0px solid #92C6F0;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#AboutContent a:hover
{
  color: var(--font-hyperlink-hover);
  border-bottom:0px solid #58A8E9; 
}

#AboutContent ul li{
  margin-bottom: -10px;
}

/* ===========================================
 * Paper
 * ===========================================
 */

#PaperPanel{
  transform: translate(-120%, 0%);
}

#PaperContent
{
  font-size: 16px;
}

#PaperContent hr
{
  border: 0;
  border-bottom: 1px dashed #ccc;
}

#PaperContent li
{
  padding: 10px 0;
  font-size: 22px;
}

#PaperContent a {
  text-decoration: none;
  color: var(--font-hyperlink);
  transition: color 0.1s ease;
  border-bottom:0px solid #92C6F0;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#PaperContent a:hover
{
  color: var(--font-hyperlink-hover);
  border-bottom:0px solid #58A8E9; 
}

#PaperContent ul li{
  font-size: 14px;
  margin-bottom: -10px;
}

/* ===========================================
 * Flow app
 * ===========================================
 */

#FlowPanel{
  transform: translate(-150%, 0%);
}


#FlowOptions{
  position: relative;
  top: 0px;
  height: 250px;
}

#FlowDescription{
  position: relative;
  top: 0px;
}

#FlowDescription div{
  position: relative;
  top: 0px;
  margin: 5px;
}

.CompSliderContainer {
    width: 100%; /* Width of the outside container */
}

#SliderContainer1::after {
    content: "";
}


/* The slider itself */
.CompSlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 25px; /* Specified height */
    background: rgba(0, 0, 0, 0); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.CompSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.CompSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.CompSlider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#CompDescription{
    position:relative;
    margin-top: 300px;
    height: 200px;
}

/* ===========================================
 * Story app
 * ===========================================
 */

#StoryPanel{
  transform: translate(-150%, 0%);
}


#StoryScroll{
  position: relative;
  top: 0px;
  height: calc(100% - 240px);
  overflow: hidden;
}

#StoryFrame{
  position:relative;
  margin-top: 30px;
  height: 100%;
  overflow: hidden;
}



#story-options-wrapper {
  margin: auto;
  position: relative;
  width: 100%;
  padding: 0px;
  height: 30px;
  color: #ecf0f1;
  font-family: var(--font-ui);
}
#story-options-wrapper i {
  color: var(--accent-6);
}

#StoryText a {
  font-size: 17px;
  cursor: pointer;
  color: var(--accent-1);
}

#StoryText .notavailable {
  color: #9D9D9D;
}

.storytext {
  margin: 5px;
}

.storytext h2{
  text-align: center;
}

.storytext a:hover {
  color: var(--font-hyperlink-hover);
}

#StoryOptions{  
  position:relative;
  opacity: 0;
  top: 0px;
  width: 90%;
  transition: all 0.2s ease-out;
  text-align: center;
}

#StoryOptions button {
  height: 20px;
  margin-left: 40px;
  border-radius: 0px;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  background: none;
}

#StoryOptions button i{
  color: var(--font-body-color);
}

#StoryOptions button::after{
  font-size: 10px;
  width: 40px;
  position: absolute;
  bottom: -20px;
  left: -0px;
}

.story-ui-left::after {
  content: 'previous';
}

.story-ui-home::after {
  content: 'overview';
}

.story-ui-right::after {
  content: 'next';
}

.story-ui-begin::after {
  content: 'to begin';
}

#StoryProgress{
  position: absolute;
  top: 180px;
  width: 100%;
  left: 5px;
  height: 5px;
  position: absolute;
}

.progress-inside {
  background: var(--accent-1);
  border-radius: 0px;
  width: 0px;
  height: 2px;
  padding: 0px 0px 0px 0px;  
  transition: width 1s ease-out;
}

/* ===========================================
 * Intervention Explorer
 * ===========================================
 */


#ExplorePanel{
  transform: translate(-150%, 0%);
}


#ExploreOptions{
  position: relative;
  top: 0px;
  z-index: 99;
  margin-bottom: 5px;
}

#InterventionTable{
  position: relative;
  margin-top: 10px;
}

#InterventionDescription {
  pointer-events: initial;
  height: calc(100% - 40px);
  padding: 10px; 
  overflow: hidden;
}

#Description{
  position:relative;
  margin-top: 0px;
  height: 500px;
}

.textframe {
  border-left: 1px solid #3E3E3E;
  border-top: 1px solid #3E3E3E;  
}

.frame-summary::before{
  content: "summary";
  font-size: 10px;
  margin-left: 2px;
  color: #282828;
  font-family: Oswald;
}

.frame-description::before{
  content: "description";
  font-size: 10px;
  margin-left: 2px;
  color: #282828;
  font-family: Oswald;
}

.frame-options::before{
  content: "options";
  font-size: 10px;
  margin-left: 2px;
  color: #282828;
  font-family: Oswald;
}


/* Hide default HTML checkbox */
.intensityswitch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3D9FDD;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #149264;
}

input:focus + .slider {
  box-shadow: 1 2 4px #077A35;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  border-radius: 10%;
} 


/* ===========================================
 * Menu toggle 
 * When menu is shown, display arrow to the 
 * left. If clicked, menu is hidden and icon
 * transform to resemble a hamburger menu.
 * ===========================================
 */

#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  width: 40px;
  left: 25px;
  z-index: 1;
  pointer-events: initial;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 50px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -15px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--nav-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 0px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,0.5),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
              opacity 0.55s ease;
}


/* 
 * Reshape spans into an arrow
 */

/*
 * Top one
 */
#menuToggle input ~ span:nth-last-child(3)
{
  opacity: 1;
  transform: translate(0px, 10px) rotate(-45deg) scale(0.5, 1.4) ; 
}

/*
 * middle one
 */

#menuToggle input ~ span:nth-last-child(2)
{
  transform: scale(0.8, 1.0); 
}


/*
 * Last one angles up
 */
#menuToggle input ~ span:nth-last-child(1)
{  
  
  transform:  translate(4px, -10px) rotate(45deg) scale(0.5, 1.4) 
  
}

/* 
 * Transform arrow into an hamburger
 */

#menuToggle input:checked ~ span
{
  transform: translate(0px, 0px) rotate(0deg) scale(1.0, 1.0); 
}

