 /* All UI elements */

/* ===========================================
 * Globals
 * ===========================================
 */
 :root { 
    --background-light: #ededed;
    --accent-light: #76BFFB;
    --font-hyperlink: #92C7F3;
    --font-hyperlink-hover: #58A8E9;
    --font-body-color: #D9D9D9;
    --font-body-size: 18px;
    --font-body-family: 'Source Sans Pro', 'Karla', sans-serif;
    --font-body-header: 'Raleway', 'Montserrat', sans-serif;
    --font-ui: 'Raleway', sans-serif;
    --nav-color: white;
    --nav-size: 26px;
    --accent-1: #FF9F1C;
    --accent-2: #D5573B;
    --accent-3: #3C787E;
    --accent-4: #313B72;
    --accent-5: #3F3047;
    --accent-6: #191A21;
}

a:not([href*='github.io']):not([href^='#']):not([href^='/']):after {
  content: url(https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg);
}
/*  content: "";
  display: inline-block;
  height:16px;
  width:13px;
  background-size: 13px 13px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/86/External_small.svg);
  background-repeat: no-repeat;
}*/

.disclaimer{
  font-style: italic;
  font-size: 16px;
  border-top: 1px solid orange;
}
body {
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  color: var(--font-body-color);
  margin: 0;
  background-color: #EEEEEE;
  overflow: hidden;
}

body h1{
  font-family: var(--font-body-header);
}

body h2{
  font-family: var(--font-body-header);
  font-size: 20px;
  line-height: 1;
}

body h3{
  font-family: var(--font-body-header);
}

body a{
  color: var(--font-hyperlink);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.1s ease;
  border-bottom:0px solid #92C6F0;
  display: inline-block;
  position: relative;
}

body a:hover
{
  color: var(--font-hyperlink-hover);
  border-bottom:0px solid #58A8E9; 
}



.label_high {
  color: #09C900;
}

.label_medium {
  color: #FF8416;
}

.label_low {
  color: #F31419;
}


.panel {
  position: absolute;
  top:75px;
  height: calc(100% - 80px);
  left: 20px;
  width: 90%;
  overflow: visible;
  transition: transform 0.5s cubic-bezier(0.27,0.2,0.05,1.0);
}

.canvas {
  position:relative; 
  top: 0px;
  pointer-events: initial;
  width:99%;
  height:200px;
}


.scroll {
  position: relative;
  top: 0px;
  height: calc(100% - 200px);
  overflow: hidden;
}


/* preloader */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
} 

#loader-wrapper img {
  left: 50%;
  top: 50%;
  max-width: 300px;
  margin: -30px 0 0 -150px;
  z-index: 1002;
  position: absolute;
  transition: opacity 0.5s 1s ease;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #4DAA3B;

    -webkit-animation: spin 3.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 6px solid transparent;
        border-top-color: #1E855F;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 6px solid transparent;
        border-top-color: #1C587A;

        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded img{
      opacity: 0;
    }

    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;
        transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
        transition: all 0.3s 2s ease-out;
    }

/* ===========================================
 * Layout
 * ===========================================
 */

@media (min-width: 600px) {
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template:
    'fig2 fig2 . . . .';
}}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media (max-width: 600px) {
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template:
    'fig2 fig2 ';
}
}

/* ===========================================
 * Body, foooter
 * ===========================================
 */
.logo-footer {
  float: right;
  width: 100%; 
  margin-right: 55px;
}

footer {
   position:absolute;
   right:0px;
   bottom:-20px;
   margin: auto;
   max-width:200px;
   height:60px;   /* Height of the footer */
   overflow: all;
   border-radius: 2px;
   clear:right;
}



#version-number-box {
  position: absolute;
  color: var(--font-body-color);
  right: 1%;
  bottom: 4px;
  font-family: Oswald;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}

#version-number-box img{
  width: 50px;
  margin: 0px 10px 0px 10px;
}

#version-number-box span{
  margin-left: 5px;
}


/* ===========================================
 * Flat dropdown menu (adapted from http://cssmenumaker.com/menu/flat-accordion-menu)
 * ===========================================
 */

.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}

/* Top level */
.cssmenu {
  left: 0px;
  width: 300px;  
  font-family: var(--font-body-family);
  color: var(--font-body-color);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: 2;
}


.cssmenu > ul > li > a {
  padding: 6px 0px;
  height: 38px;
  cursor: pointer;
  z-index: inherit;
  font-size: 26px;
  text-decoration: none;
  color: white;
  background: var(--accent-6);
  -webkit-transition: color .2s ease;
       -o-transition: color .2s ease;
          transition: color .2s ease;
}
.cssmenu > ul > li > a:hover {
  color: var(--accent-1);
}
/* Cross animation */
.cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 16px;
  z-index: inherit;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
     -moz-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out;
       -o-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
}
.cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 20px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
     -moz-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out;
       -o-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
}
.cssmenu ul > li.has-sub.open > a:after,
.cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* lower levels */
.cssmenu ul ul li a {
  padding: 7px;
  top: 0px;
  cursor: pointer;
  z-index: inherit;
  font-size: 16px;
  text-decoration: none;
  color: #dddddd;
  background: #49505a;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.cssmenu ul ul ul li a {
  padding-left: 32px;
}
.cssmenu ul ul li a:hover {
  color: var(--accent-1);
}
.cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #dddddd;
}
.cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background: #dddddd;
}


/* ===========================================
 * App panel master
 * ===========================================
 */

#leftbar {
  transform: translate(0%, 0%);
  transition: transform 0.5s ease;
  border-radius: 0px;
  box-shadow: 0px 0px 15px 5px #000000;
  pointer-events: initial;
  position:absolute; 
  width: 100%;
  max-width:400px;
  height:100%;
  overflow: hidden;
  z-index: 1;
}

.map { 
  z-index:-1;
  position:absolute;
  width:100%;
  height:100%; 
  pointer-events: visible; 
}

#map_clone {
  width: 500px;
  height: calc(100% + 40px);
  margin-top: -20px;
  margin-left:-20px;
}

.clonemap { 
  z-index:-1;
  position:absolute;
  pointer-events: visible; 
   -moz-filter: blur(6px);
     -o-filter: blur(6px);
-webkit-filter: blur(6px);
        filter: blur(6px); 
}

.glass{
  width:100%;
  height: 100%;
  background-color: rgba(231, 241, 255, 0);
  background-image: linear-gradient(to top right, 
                    rgba(246, 247, 249, .3)  0%,
                    rgba(229, 235, 238, .2) 50%,
                    rgba(215, 222, 227, .24) 52%,
                    rgba(245, 247, 249, .1) 100%
                    );
  border-radius: inherit;  
}


/* ===========================================
 * App navigation
 * ===========================================
 */

nav {
  z-index: 2
}

#appnavigation {
  font-family: var(--font-ui);
  color: var(--nav-color);
  font-size: var(--nav-size);
  position: absolute;
  padding-bottom: 15px;
  top: 13px;
  height: 45px;
  width: 80%;
  max-width: 300px;
  left: 60px;
  z-index: 3;
  user-select: none;/* to prevent blue flickering in chrome*/
  pointer-events: none;
  transition: 500ms ease-out;
}

@media (max-width: 400px){#appnavigation {left: 50px}}
@media (max-width: 340px){#appnavigation {left: 40px}}


#appnavigation span {
  pointer-events: initial;
  cursor: pointer;
  user-select: none;/* to prevent blue flickering in chrome*/
  position: relative;
  margin-left: 25px;
  border-bottom:2px solid #49F5FF22;
  transition: 200ms ease-out;
}

@media (max-width: 340px){#appnavigation span {margin-left: 17px}}

#appnavigation span:hover {
  border-bottom:3px solid #49F5FFFF;
}

#appnavigation span.app-active {
  border-bottom:3px solid #49F5FFFF;
}

#appnavigation span.app-active::after{
  opacity: 1;
  color: #49F5FFFF;
}

#appnavigation span:hover::after{
  opacity: 1;
  color: #FFFFFFFF;
}

#appnavigation span::after{
  position: absolute;
  width: 80px;
  margin-left: -50px; /* -1/2width - iconwidth/2 */
  top: 40px;
  color: white;
  font-size: 12px;
  text-align: center;
  opacity: 0.3;
  transition: 250ms ease-out;
}

#app-info::after{
  content: "About";
  left: 18px;
}

#app-story::after{
  content: "Storyline";
}

#app-explore::after{
  content: "Map";
}

#app-compare::after{
  content: "Flow sim";
}

#app-article::after{
  content: "More";
  left: 25px;
}

#app-settings::after{
  content: "Settings";
  left: 25px;
}

/* ===========================================
 * Settings
 * ===========================================
 */

#SettingsPanel{
  transform: translate(-150%, 0%);
}


#SettingsPanel p{
  font-size: 16px;
}
#SettingsPanel span{
  margin-left: 20px;
  line-height: 1.5em;
  white-space:nowrap;
}

#SettingsPanel span.notimplemented{
  color: #7A7A7A;
}
/* ===========================================
 * About
 * ===========================================
 */

#AboutPanel{
  transform: translate(-150%, 0%);
  font-size: inherit;
}


#AboutContent hr
{ 
  border: 0;
  border-bottom: 1px dashed #ccc;
}

#AboutContent li
{
  padding: 10px 0;
}


#AboutContent ul li{
  margin-bottom: -10px;
}

/* ===========================================
 * Paper
 * ===========================================
 */

#PaperPanel{
  transform: translate(-120%, 0%);
}

#PaperContent
{ 
  height: 100%;
  font-size: 16px;
}

#PaperContent hr
{
  border: 0;
  border-bottom: 1px dashed #ccc;
}

#PaperContent li
{
  padding: 10px 0;
  font-size: 22px;
}

#PaperContent a {
  text-decoration: none;
  color: var(--font-hyperlink);
  transition: color 0.1s ease;
  border-bottom:0px solid #92C6F0;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#PaperContent a:hover
{
  color: var(--font-hyperlink-hover);
  border-bottom:0px solid #58A8E9; 
}

#PaperContent ul li{
  font-size: 14px;
  margin-bottom: -10px;
}

.reference{
  font-style: italic;
  font-size: 14px;
  margin-top: 10px;
}

/* ===========================================
 * Flow app
 * ===========================================
 */

#FlowPanel{
  transform: translate(-150%, 0%);
}


#FlowOptions{
  position: relative;
  top: 0px;
  height: 250px;
}

#FlowDescription{
  position: relative;
  top: 0px;
}

#FlowDescription div{
  position: relative;
  top: 0px;
  margin: 5px;
}

.CompSliderContainer {
    width: 100%; /* Width of the outside container */
}

#SliderContainer1::after {
    content: "";
}


/* The slider itself */
.CompSlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 25px; /* Specified height */
    background: rgba(0, 0, 0, 0); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.CompSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.CompSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.CompSlider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#CompDescription{
    position:relative;
    margin-top: 300px;
    height: 200px;
}

/* ===========================================
 * Story app
 * ===========================================
 */

#StoryPanel{
  transform: translate(0%, 0%);
}


#StoryScroll{
  position: relative;
  top: 20px;
  height: calc(100% - 261px);
  overflow: hidden;
}

#StoryFrame{
  position:relative;
  height: 98%;
  overflow: inherit;
}

#StoryCarousel{  
  position: absolute;
  display: flex;
  align-items: top;
  width: 900%;  
  height: 100px;
  transition: all 0.4s ease-out;
  pointer-events: none;
}

.story-in-carousel{
  position: relative;
  opacity: 1;
  width: 100%;
  transition: opacity 0.2s ease-out;
}

#StoryOverview{
  position: absolute;
  width: 100%;
  top: 180px;
  z-index: 9;
  pointer-events: initial;
  text-align: center;
  transform: translate(0%, 0%);
}

#StoryOverview .notavailable {
  color: #9D9D9D;
}

.story-in-carousel {
  margin: 5px;
}

.story-in-carousel h2{
  text-align: center;
}

.storytext a:hover {
  color: var(--font-hyperlink-hover);
}

#StoryOptions{  
  position:relative;
  color: var(--font-body-color);
  font-size: 24px;
  opacity: 0;
  top: 0px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#StoryOptions i{
  margin: 10px;
  transition: all 0.2s ease-out;
}

#StoryOptions i:hover{
  color: var(--font-hyperlink-hover);
}  


#StoryProgress{
  position: absolute;
  background: #626262;
  top: 0px;
  width: 90%;
  left: 5px;
  height: 2px;
  position: absolute;
}

.progress-inside {
  background: var(--font-body-color);
  border-radius: 0px;
  width: 0px;
  height: 2px;
  padding: 0px 0px 0px 0px;  
  transition: width 1s ease-out;
}

/* ===========================================
 * Intervention Explorer
 * ===========================================
 */


#ExplorePanel{
  transform: translate(-150%, 0%);
}


#ExploreScroll{
  padding: 10px;
  position:relative;
  margin-top: 10px;
  height: calc(100% - 250px);
  overflow: hidden;
}

#InterventionDescription {
  pointer-events: initial;
  height: calc(100%);
  
}

.textframe {
  border-left: 0px solid var(--font-body-color);
  border-top: 0px solid var(--font-body-color);  
}

.frame-summary::before{
  content: "summary";
  font-size: 10px;
  margin-left: 2px;
  color: #282828;
  font-family: Oswald;
}

.frame-description::before{
  content: "description";
  font-size: 10px;
  margin-left: 2px;
  color: #282828;
  font-family: Oswald;
}

.frame-options::before{
  content: "options";
  font-size: 10px;
  margin-left: 2px;
  color: #282828;
  font-family: Oswald;
}


/* Hide default HTML checkbox */
.intensityswitch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3D9FDD;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #149264;
}

input:focus + .slider {
  box-shadow: 1 2 4px #077A35;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  border-radius: 10%;
} 


/* ===========================================
 * Menu toggle 
 * When menu is shown, display arrow to the 
 * left. If clicked, menu is hidden and icon
 * transform to resemble a hamburger menu.
 * ===========================================
 */

#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  width: 40px;
  left: 25px;
  z-index: 1;
  pointer-events: initial;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 50px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -15px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--nav-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 0px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,0.5),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
              opacity 0.55s ease;
}


/* 
 * Reshape spans into an arrow
 */

/*
 * Top one
 */
#menuToggle input ~ span:nth-last-child(3)
{
  opacity: 1;
  transform: translate(0px, 10px) rotate(-45deg) scale(0.5, 1.4) ; 
}

/*
 * middle one
 */

#menuToggle input ~ span:nth-last-child(2)
{
  transform: scale(0.8, 1.0); 
}


/*
 * Last one angles up
 */
#menuToggle input ~ span:nth-last-child(1)
{  
  
  transform:  translate(4px, -10px) rotate(45deg) scale(0.5, 1.4) 
  
}

/* 
 * Transform arrow into an hamburger
 */

#menuToggle input:checked ~ span
{
  transform: translate(0px, 0px) rotate(0deg) scale(1.0, 1.0); 
}


/* POPPER CSS */
.link-anchor {
  position: relative;
  width: 0;
  font-size: .8em;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
.anchor-wrapper {
  border: none;
}
.anchor-wrapper:hover .link-anchor {
  opacity: 1;
}

section h1[id]:focus,
section h2[id]:focus,
section h3[id]:focus,
section h4[id]:focus,
section h5[id]:focus {
  outline: 0;
}

p.thin {
    font-weight: 100;
    margin: 0;
    line-height: 1.2em;
}

p.bold {
    font-weight: 900;
    margin: 0;
    margin-top: -5px;
}

.rel {
    width: 30%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 20px;
    border-style: dotted;
    border-color: white;
    border-width: medium;
}

.popper,
.tooltip {
    position: absolute;
    background: #FFC107;
    color: black;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
    transition: all 0.2s ease;
}
.style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
    border-color: #FFC107;
}
.style5 .tooltip .tooltip-arrow {
    border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}