body {
  font-family: 'Helvetica Neue',Helvetica,sans-serif;
  margin: 0;
  background-color: #777;

}

.navbar-custom{
  font: 18px sans-serif; 
  font-family: "Raleway";
  box-shadow: 0px 4px 6px #2F2F2F;
  

} 
header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 1050px;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  transition: all 0.6s ease-out;
}

/* todo: rest reponsive see https://jsfiddle.net/kmsxpk3q/ */
main {
  margin-left: 2%;
  margin-right: 2%; 
}

.app{
  margin-top: 20px;
  width: 100%;
  height: 700px;
}
#TEST1{
  padding: 1px 1px 1px 1px;
 /* background-color: #000CFF;
  background-image: url('../img/background1.JPG');*/
}

#TEST2{
 /* background-color: #444DFD;
  background-image: url('../img/background2.JPG');*/
}

.container {
  display: flex;
  padding: 0px;
  margin-bottom: 10%;
  align-items: flex-start;
  max-width: 1050px;
}
.map{
  width: 960px;
  height: 500px;
}

section {
  width: 400px;
  margin-left: 0px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
}
aside {
  margin: 0 0px 0 10px;
  width: 950px;
  top: 20%;
  height: 300px;
  position: sticky !important;
  box-sizing: border-box;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 0px solid #fff;
}
.axis { 
  font: 12px sans-serif; 
  font-family: "Raleway"
}
.labels {
  font: 16px sans-serif; 
  font-family: "Raleway";
}

#canvas2 {
  height: 100%;
  width: 100%;
}

.highlightedArea{
  fill: white;
  stroke: black;
}
.step {
  width: 100%;
  /* Choose a sensible bottom margin 
  to have something to scroll to*/
  margin-bottom: 100px;
  font-family: "Raleway","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
  border: 1px solid #777;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    max-width: 150px;          
    padding: 2px;       
    font: 14px sans-serif; 
    font-family: "Raleway";
    background: rgba(255, 255, 255, 0.7); 
    border: 1px;    
    border-radius: 1px;     
    pointer-events: none; 
}

.title {
  font-family: Georgia,Helvetica,"serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

.content {
  width: 100%;
  height: 40px;
  background: repeating-linear-gradient(0deg, #777, #777 10px, #fff 10px, #fff 40px);
  border-top: 10px solid #777;
}

section .content {
  height: 1000px;
}
